.half-width-container-DB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  width: 100%;
  background-color: white;
  height: auto;
  border-radius: 30px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.content-paragraph-DB {
  padding-top: 3em;
  padding-right: 3em;
  padding-left: 3em;
  flex-grow: 1;
  color: black !important;
  column-count: 2;
  column-gap: 2em;
}

.top-right-paragraph-DB {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
}

.parallax-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 3em;
  margin-bottom: 3em;
  border-radius: 30px;
  width: 60%; /* adjust this as needed */
}

@media (max-width: 768px) {
  .half-width-container-DB {
    flex-direction: column;
    padding: 0; /* Add padding around the container */
    width: 100%;
  }

  .content-paragraph-DB {
    column-count: 1; /* On small screens, the content will flow into 1 column */
    padding-top: 3em; /* Reduce top padding */
    padding-right: 3em; /* Remove right padding */
    padding-left: 3em; /* Reduce left padding */
    padding-bottom: 3em; /* Add bottom padding */
  }

  .top-right-paragraph-DB {
    position: static; /* Remove absolute positioning on small screens */
    padding-top: 0; /* Add some top padding */
  }

 
}
