.carousel-slide {
  position: relative;
}

.slide-title {
  position: relative;
  top: 0; /* Adjust the value to position the title vertically */
  transform: translateY(-50%);
  left: 0;
  margin: auto;
  width: 100%;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #303d4e80;
  color: black;
  box-sizing: border-box;
}

.carousel-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: bold;
  color: #ef0690;
}

.swiperbg {
  background-color: #ffffff;
  padding: 2vh;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem; /* Add margin to the top */
  margin-bottom: 2rem; /* Add margin to the bottom */
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 600px) {
  /* Adjust the CSS properties for screens less than 600px wide (typical smartphone size) */
  .carousel-title {
    font-size: 1.5rem; /* Adjust the font size */
    /* add more adjustments if needed */
  }

  .swiper-slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-bottom: 2em;
  }
}
