.full-width-component img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 30px;

}
.full-width-column {
  grid-column: 1 / span 2;
  height: auto;
  width: auto;
  max-width: 100vw;
}