.full-width-paragraph-component p {
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 1.2rem;
    padding-left: 7vw;
    padding-right: 7vw;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
 
  }
  
  .full-width-paragraph-column {
    grid-column: 1 / span 2;
    background-color: #ffffff;
    height: auto;
    width: auto;
    max-width: 100vw;
  }
  


  