.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 .5px;
  width: 85vw;
  margin-left: 15vw;
  z-index: 1;
  position: relative;
}

.left-column {
  grid-column: 1;
}

.right-column {
  grid-column: 2;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;

    margin-left: 0;
  }

  .right-column, .left-column {
    grid-column: auto;
    max-width: 100%;

  }
}