.grid-item-half.image-half {
    grid-column: span 2;
    grid-area: image;
    position: sticky;
    top: 0;  /* distance from the top of the viewport */
    opacity: 0;
    /* transform: translateY(50%); */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  
  .image-container-half {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .image-container-half::before {
    content: "";
    display: block;
    height: auto;
  }
  
  .image-container-half img {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: fill;
    height: auto;
    border-radius: 30px;

  }

  .image-container-half svg {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    /* preserveAspectRatio: none; This can be necessary for correct scaling of SVGs */
}
  
  @media (max-width: 768px) {
    .grid-item-half.image-half {
      grid-column: auto;
    }
  }
  