/* Paragraph.css */

.paragraph {
  padding: .5em;
  color: #ffffff;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  margin: 1em;
  line-height: 150%;
  opacity: 0;
  
}

.paragraph-area {
  grid-area: paragraph;
  height: auto;
}

.bg-color {
  background-color: #303d4e80;
  position: relative;
  z-index: -1;
  height: 100%;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: clamp(1.3rem, 5vw, 1.5rem);
    padding: 1em;
  }
}

